<div style="text-align:center">
  <img width="45%" alt="do you know" style="-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';" src="../assets/face.png">
  <img width="45%" alt="do you know" src="../assets/face.png">
</div>
<div style="text-align:center">
  <img width="45%" alt="do you know" style="-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';" src="../assets/face.png">
  <img width="45%" alt="do you know" src="../assets/face.png">
</div>
<div style="text-align:center">
  <img width="45%" alt="do you know" style="-moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: 'FlipH';" src="../assets/face.png">
  <img width="45%" alt="do you know" src="../assets/face.png">
</div>